template(name="rulesTriggers")
  .rules
    h2
      i.fal.fa-magic
      | {{{_ 'r-rule' }}} "#{data.ruleName.get}" - {{{_ 'r-add-trigger'}}}
    hr
    .triggers-content
      .triggers-body
        .triggers-side-menu
          ul
            li.active.js-set-board-triggers
              i.fal.fa-columns
            li.js-set-card-triggers
              i.fal.fa-sticky-note
            li.js-set-checklist-triggers
              i.far.fa-check
        .triggers-main-body
          if showBoardTrigger.get
            +boardTriggers
          else if showCardTrigger.get
            +cardTriggers
          else if showChecklistTrigger.get
            +checklistTriggers
    div.rules-back
          button.js-goback
            i.fa.fa-chevron-left
            | {{{_ 'back'}}}
