@import 'nib'

#header
  color: white
  transition: background-color 0.4s
  background: #039be5
  z-index: 17

  #header-main-bar
    // height: 40px
    padding: 4px 10px

    &:after
      content: ' '
      display: block
      width: 100%
      clear: both

    h1
      font-size: 20px
      line-height: 1.7em
      padding: 4px 10px 0
      margin: 0
      margin-right: 10px
      float: left
      border-radius: 3px
      white-space: nowrap
      overflow: hidden

      .board-header-watch-icon
        padding-left: 7px

      a.fa, a i.fa
        color: white

      .back-btn
        font-size: 0.9em
        margin-right: 10px

    .wekan-logo
      margin: 3px auto auto
      width: 97px
      opacity: 0.6
      transition: opacity 0.15s
      float: right

      &:hover
        opacity: 0.9

    .board-header-btns
      display: block
      // margin-top: 3px
      width: auto

      // XXX Use a flexbox instead of floats?
      &.left
        float: left

      &.right
        float: right

    .board-header-btn
      border-radius: 4px
      color: darken(white, 5%)
      transition: all 0.2s
      padding: 0
      height: 32px
      // font-size: 13px
      float: left
      overflow: hidden
      line-height: @height
      margin: 1px

      i.far, i.fas, i.fa, i.fal
        float: left
        display: block
        line-height: 32px
        color: darken(white, 5%)
        margin: 0 6px 0 10px
        font-size: 1.2em

        + span
          display: inline-block
          margin-top: 0
          margin-right: 10px

      .board-header-btn-close
        float: right

        i.fa
          margin: 0 8px
          height: 32px

    .board-header-btn,
    h1.is-clickable
      &.is-active,
      &:hover:not(.is-disabled)
        background: rgba(255, 255, 255, .15)

    .separator
      margin: 2px 4px
      border-left: 1px solid rgba(255, 255, 255, .3)
      height: 24px
      float: left

#header-quick-access
  color: white
  transition: background-color 0.4s
  background: #0288d1
  height: 28px
  font-size: 12px
  display: flex
  z-index: 17

  #header-user-bar,
  #header-new-board-icon,
  ul li
    // color: darken(white, 17%)

    .fa
      color: inherit

    a:hover, a.is-active
      color: white

  ul
    transition: opacity 0.2s
    margin: 4px 0 0 5px
    // overflow: hidden
    li
      display: block
      float: left
      width: auto
      // color: darken(white, 15%)
      padding: 2px 6px

      &:hover
        border-bottom: solid 2px lighten(#039be5, 5%)

      &.current
        // color: darken(white, 5%)
        // padding-bottom: 5px

      &:first-child .fa-home
        margin-right: 5px

      a.js-create-board
        margin-left: 5px
    li.separator
     border-bottom: none !important

  #header-user-bar,
  #header-new-board-icon
    flex-shrink: 0

  #header-user-bar
    margin: 2px 0

    .header-user-bar-avatar
      float: left
      position: relative
      margin-right: 5px

      .member
        width: 20px
        height: @width
        margin: 0
        margin-top: 1px

    .header-user-bar-name
      margin: 2px 8px 2px 0
      line-height: 22px
      float: left

      i.fa-chevron-down
        margin-right: 4px

  #header-new-board-icon
    flex-grow: 1
    margin: 6px 5px 0
    width: 12px

@media screen and (max-width: 800px)
  #header
    #header-main-bar
      .board-header-btn-menu
        width: 32px

      .board-header-btns
        margin-top: 0px

      .board-header-btn
        height: 26px
        line-height: @height
        font-size: 16px

        i.fa
          line-height: 26px !important
          font-size: 1em
          margin: 0 6px

        span
          display: none !important

  #header-quick-access
    transition: background-color 0.4s
    width: 100%
    padding: 4px 0px
    z-index: 30
    overflow: hidden

    ul
      width: calc(100% - 60px)
      text-overflow: ellipsis
      padding: 0
      margin: 0

      li
        // height: 100%
        // padding: 12px 0px 10px
        // margin: -10px 0px

        a
          height: 100%
          padding: 0 4px
          line-height: 24px
          // margin: -10px 0px

        .fa-home
          font-size: 26px
          margin-top: -2px

    #header-new-board-icon
      display: none

    #header-user-bar
      position: absolute
      right: 0
      padding: 0
      margin: 0

.announcement,
.offline-warning
  width: 100%
  text-align: center
  padding: 0
  margin: 0
  background: #fff3cd
  color: #856404
  border-color: #ffeeba
  border-bottom-width: 1px
  border-bottom-style: solid
  clear: both

  p
    margin: 7px
    padding: 0
