@import 'nib'

global-reset()

html, body, input, select, textarea
  font: 14px Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif
  line-height: 18px
  color: #525f7f

html
  font-size: 100%
  max-height: 100%
  user-select: none
  -webkit-text-size-adjust: 100%

body
  // background: darken(white, 13%)
  // background: #f6f9fc
  background: #fff
  color: #525f7f
  margin: 0
  position: relative
  z-index: 0
  overflow-y: auto
  display: flex
  flex-direction: column
  height: 100vh
.logo-wrapper
  margin: 36px auto 20px
  text-align: center
  .teama-logo
    width: 80px
    height: 80px
    margin: 0 auto
#content
  position: relative
  flex: 1
  overflow-x: hidden

  .sk-spinner
    margin-top: 30vh

  > .wrapper
    margin-top: 10px
    padding: 15px
    box-sizing: border-box

#modal
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: rgba(0, 0, 0, 0.6)
  z-index: 100
  overflow-y: auto

  .modal-content
    width: 500px
    min-height: 160px
    margin: 42px auto
    padding: 12px
    border-radius: 4px
    background: #ffffff
    z-index: 110

    h2
      margin-bottom: 25px

    .modal-close-btn
      display: block
      float: right
      font-size: 24px

  .modal-content-wide
    width: 800px
    min-height: 0px
    margin: 42px auto
    padding: 16px
    border-radius: 4px
    background: #ffffff
    z-index: 110

    h2
      margin-bottom: 25px

    .modal-close-btn
      display: block
      float: right
      font-size: 24px

h1
  font-size: 22px
  line-height: 1.2em
  margin: 0 0 10px

h2
  font-size: 18px
  line-height: 1.2em
  margin: 0 0 9px

h3, h4
  font-size: 16px
  line-height: 1.25em
  margin: 0 0 6px

h5, h6
  font-size: 14px
  line-height: 1.25em
  margin: 0 0 6px

.quiet, .quiet a
  color: #8c8c8c
  transition: all 0.2s

.quiet a:hover
  color: #4654de

.error, .error a
  color: #eb3800

.no-items-message
  color: darken(white, 60%)
  margin: 30px 0
  text-align: center

.warning
  background: #f0ecdb
  border-radius: 3px
  color: #aa8f09
  padding: 6px 8px

  a
    color: #aa8f09

.small
  font-size: 0.8em

a
  color: inherit
  cursor: pointer
  text-decoration: none

  &.is-disabled,
  &.is-disabled:hover
    cursor: default
    text-decoration: none

span a
  text-decoration: underline

strong
  font-weight: bold

p
  user-select: text
  line-height: 1.4

  a
    text-decoration: underline
    word-wrap: break-word

pre
  margin: 15px 0
  white-space: pre
  max-height: 516px

pre,
code,
tt
  font-family: lucida console, monospace
  line-height: 1.25em

blockquote
  margin: 8px 0 8px 8px
  border-left: 1px solid #ccc
  color: #666
  padding: 0 0 0 8px

hr
  height: 1px
  border: 0
  border: none
  width: 100%
  background: #eeeeee
  color: #eeeeee
  margin: 15px 0
  padding: 0

table, td, th
  vertical-align: top
  border-top: 1px solid #ccc
  border-left: 1px solid #ccc

td, th
  padding: 5px
  border-right: 1px solid #ccc
  border-bottom: 1px solid #ccc

th
  font-weight: 700

thead
  background: #fff
  background: linear-gradient(to bottom, #fff 0, #f0f0f0 100%)

tbody
  background-color: #fff

dl, dt
  margin-bottom: 8px

dd
  margin: 0 0 16px 24px

kbd
  padding: 1px 3px
  margin: 3px
  font-weight: bold
  background: #ffffff
  border-radius: 8px
  // border: 1px solid darken(white, 10%)
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px 0px, rgba(0,0,0,0.14) 0px 1px 1px 0px, rgba(0,0,0,0.12) 0px 2px 1px -1px

.clear
  clear: both

.clearfix
  clearfix()

.hide
  display: none

.show
  display: block

.bold
  font-weight: 700

.center
  text-align: center

.left
  float: left

.right
  float: right

.first
  margin-left: 0
  padding-left: 0

.last
  margin-right: 0
  padding-right: 0

.top
  margin-top: 0
  padding-top: 0

.bottom
  margin-bottom: 0
  padding-bottom: 0

.wrapper
  max-width: 1200px
  margin: 0 auto

.relative
  position: relative

.block
  display: block

.inline
  display: inline

.inline-block
  display: inline-block

.pointer
  cursor: pointer

.ellip
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.underline
  text-decoration: underline

.lowercase
  text-transform: lowercase

.invisible
  visibility: hidden

.wrapword
  word-wrap: break-word

.grab
  cursor: grab

.grabbing
  cursor: grabbing

// Implement a thiner close icon as suggested in
// https://github.com/FortAwesome/Font-Awesome/issues/1540#issuecomment-68689950
.fa.fa-times-thin:before
  content: '\00d7';

.far.fa-globe.colorful, .far.fa-bell.colorful, .far.fa-check.colorful
  color: #4caf50

.far.fa-lock.colorful, .far.fa-bell-slash.colorful
  color: #f44336

.far.fa-eye.colorful
  color: #4336f4

.pop-over .pop-over-list li a:not(.disabled):hover
  .fa, .fa.colorful
    color: white

    &:hover
      color: white

a
  &.fa, i.fa
    // color: darken(white, 35%)

  &:not(.disabled):hover, &:not(.disabled).is-active
    &.fa, i.fa
      color: darken(white, 60%)

.ui-draggable-dragging
  z-index: 200

.atMention
  background: #dbdbdb
  border-radius: 3px
  padding: 1px 4px
  margin: -1px 0
  display: inline-block

  &.me
    background: #cfdfe8

.big-message
  display: block
  margin: 75px auto
  text-align: center
  max-width: 600px

  h1
    font-size: 26px
    margin-bottom: 24px

  p
    font-size: 18px
    line-height: 22px

.gutter
  margin-left: 38px

.viewer
  min-height: 18px

  ol
    list-style-type: decimal
    padding-left: 20px

  ul
    list-style-type: initial
    padding-left: 20px

  em
    font-style : italic

  pre
    padding: 10px 12px 7px
    background: darken(white, 13%)
    overflow-y: auto

  a
    text-decoration: underline
    &:hover
      color: #333

.basicTabs-container .tabs-content-container
  padding: 0
  padding-top: 15px

#calendar-view
  width: 100%
  height: 100%
  background-color: #ffffff
  .fc-list-empty
    padding: 16px
    background-color: #fff3cd
    border: solid 1px #ffeeba
    color: #856404
    border-radius: 4px

  .fc-event
    background-color: #039be5
    border: 1px solid #039be5
    font-size: 0.86em
    padding: 1px 3px
  .fc-event-dot
    background-color: #039be5

  .fc-list-view
    height: 100%
    border-top: none
    border-bottom: none
    .fc-scroller
      height: 100% !important
    .fc-list-table
      border: none
      border-bottom: solid 1px darken( #e9f3fe, 10%)
      .fc-widget-header
        background-color: #e9f3fe
        color: #525f7f
        // font-weight: 500
        padding: 8px 14px
        padding-left: 8px
        border-top-width: 1px
        border-bottom-width: 1px
        border-color: darken( #e9f3fe, 10%)

  .fc-bgevent-skeleton
    tbody
      background-color: transparent !important
  .fc-content-skeleton
    background-color: transparent !important
    thead, tbody
      background: transparent !important
  .fc-toolbar.fc-header-toolbar
    margin: 16px
    .fc-left
      h2
        line-height: 32px
    .fc-state-default
      font-weight: 500
      color: #ffffff
      background: #6772e5
      text-shadow: none
      box-shadow: none
      border: solid 1px #6772e5
      border-radius: 0
    .fc-corner-left.fc-corner-right
      border-radius: 3px

    .fc-button-group
      button
        border-left: solid 1px #4654de
      button:nth-child(1)
        border-top-left-radius: 3px
        border-bottom-left-radius: 3px
        border-left-width: 0
      button:nth-last-child(1)
        border-top-right-radius: 3px
        border-bottom-right-radius: 3px

    button.fc-state-active
      background-color: #4654de

  .fc-view-container
    height: 100%
    padding: 0 16px 16px
    box-sizing: border-box
    .fc-head-container
      background: #e9f3fe
      table
        margin-bottom: 0
        thead
          background: transparent !important
          th
            padding: 4px

.auth-layout
  .at-sep,.at-oauth,.at-title
    display: none

  .at-signup-link,.at-signin-link
    font-size: 1em !important

  .at-btn
    margin-top: 8px

  .at-input
    padding: 6px 0

    label
      margin-bottom: 8px !important


@keyframes fadeIn
  from
    opacity: 0

@keyframes flexGrowIn
  from
    // Support IE11 https://github.com/wekan/wekan/pull/646
    height: 100%

@media screen and (max-width: 800px)
  #content
    margin: 0
    height: calc(100% - 0px)

    > .wrapper
      margin: 0
      padding: 0

    .add-controls,
    .edit-controls
      .quiet, .quiet a
        vertical-align: middle
        display: inline-block

  .wrapper
    height: 100%
    margin: 0px

  #modal
    .modal-content
      width: 92%
  #calendar-view
    .fc-toolbar.fc-header-toolbar
      margin: 12px
      .fc-left, .fc-right, .fc-center
        width: 100%
        display: flex
        justify-content: center
        padding: 2px 0

.inline-input
  height: 37px
  margin: 4px
  min-width: 50px
  display: inline-block !important

.ps-container
  > .ps-scrollbar-y-rail
    > .ps-scrollbar-y
      width: 5px

@media screen and (max-width: 320px)
  #calendar-view
    .fc-today-button
      display: none
      visibility: hidden
    .fc-button-group
      margin-left: 0.2em !important
      margin-right: 0.2em !important
      button
        font-size: 0.86em !important
        padding-left: 5px
        padding-right: 5px
