template(name="spinnerWave")
  .sk-spinner.sk-spinner-wave(class=currentBoard.colorClass)
    .sk-rect1
    .sk-rect2
    .sk-rect3

template(name="spinnerEllipsis")
  .lds-ellipsis.sk-spinner(class=currentBoard.colorClass)
    .i1
    .i2
    .i3
    .i4

template(name="spinnerRing")
  .lds-ring.sk-spinner(class=currentBoard.colorClass)
    .i1
    .i2
    .i3
    .i4

template(name="spinnerRingSmall")
  .lds-ring.small.sk-spinner(class=currentBoard.colorClass)
    .i1
    .i2
    .i3
    .i4
