@import 'nib'

.attachments-galery
  display: flex
  flex-wrap: wrap

  .attachment-item
    width: 33.33% - 2%
    margin: 10px 1% 0
    text-align: center
    border-radius: 3px
    overflow: hidden
    background: #e9f3fe
    min-height: 120px
    position: relative
    transition: all 0.2s

    &:hover
      background: darken(#e9f3fe, 10%)
      .attachment-details-actions
        display: flex !important

    &.add-attachment
      display: flex
      align-items: center

      a
        display: block
        margin: auto
        .fa
          display: block
          font-size: 26px
          color: #525f7f
          margin-bottom: 6px

    .attachment-thumbnail
      height: 98px
      display: flex
      align-items: center
      justify-content: center
      position: relative

      .attachment-thumbnail-img
        max-height: 100%
        max-width: 100%
        width: 100%

      .attachment-thumbnail-ext
        text-transform: uppercase
        font-size: 1.6em

    .attachment-details
      font-size: 0.75em
      margin: 3px
      .attachment-details-actions
        display: none
        position: absolute
        bottom: 1px
        left: 1px
        right: 1px
        background-color: #ffffff
        border-bottom-left-radius: 3px
        border-bottom-right-radius: 3px
        overflow: hidden
        a
          flex-grow: 1
          padding: 3px 1px
          text-decoration: none
          transition: all 0.2s
          &:hover
            background-color: #6772e5
            color: #ffffff
            .fa
              color: #ffffff

.attachment-image-preview
  max-width: 100px
  display: block
  box-shadow: 0 1px 2px rgba(0,0,0,.2)

.preview-large-image
  max-width: 1000px
  display: block
  box-shadow: 0 1px 2px rgba(0,0,0,.2)

.preview-clipboard-image
  width: 280px
  max-width: 100%;
  height: 200px
  display: block
  border: 1px solid black
  box-shadow: 0 1px 2px rgba(0,0,0,.2)

@media screen and (max-width: 800px)
  .attachments-galery
    flex-direction
      row
    .attachment-item
      width: 50% - 2%

      .attachment-thumbnail
        height: 130px
      .attachment-details
        font-size: 1.1em

@media screen and (max-width: 360px)
  .attachments-galery
    .attachment-item
      width: 100%

      .attachment-thumbnail
        height: 200px
