@import 'nib'

.swimlane
  // Even if this background color is the same as the body we can't leave it
  // transparent, because that won't work during a swimlane drag.
  display: flex
  flex-direction: row
  // margin: 0 -8px
  // padding-left: 8px
  overflow: 0;

  &.placeholder
    background-color: #f5f5f5
    border-color: transparent
    box-shadow: none
    height: 100px

  &.ui-sortable-helper
    box-shadow: -2px 2px 8px rgba(0, 0, 0, .3), 0 0 1px rgba(0, 0, 0, .5)
    background-color: #ffffff
    transform: rotate(2deg)
    cursor: grabbing

    .swimlane-header.ui-sortable-handle
      cursor: grabbing

  .swimlane-header-wrap
    display: flex
    flex-direction: row
    flex: 1 0 100%
    transition: all 0.2s
    background-color: #e9f3fe
    border-bottom: solid 1px darken(#e9f3fe, 5%)
    border-top: solid 1px darken(#e9f3fe, 5%)

    .list-composer
      padding: 4px 8px
      input
        display: inline-block
        width: auto
        margin-bottom: 0
        min-height: 22px
        padding: 6px 8px
      .edit-controls
        display: inline-block
        margin-bottom: 0

    .swimlane-header
      width: 100%
      font-size: 14px
      padding: 5px 8px
      min-height: 20px
      line-height: 20px
      overflow: hidden
      -o-text-overflow: ellipsis
      text-overflow: ellipsis
      word-wrap: break-word
      text-align: center

    .swimlane-header-menu
      position: absolute
      padding: 5px 5px

      a.far, a.fa, a.fal
      	width: 10px
      	height: 10px
      	padding: 4px
      	border-radius: 50%
      	background: #f5f5f5
      	font-size: 10px
      	line-height: 10px
      	text-align: center
      	border: solid 1px darken(#e3e6f5, 5%)
      	transition: all 0.2s
      	margin-right: 4px

      	&:hover
          background: #ffffff
          color: #6772e5
          border-color: #6772e5

.list-group
  height: 100%

.moving-swimlane
  display: none

swimlane-color(background, color...)
  background: background !important
  if color
    color: color !important //overwrite text for better visibility

.swimlane-white
  swimlane-color(#ffffff, #4d4d4d) //Black text for better visibility
  border: 1px solid #eee

.swimlane-green
  swimlane-color(#3cb500, #ffffff) //White text for better visibility
  border-color: darken(#3cb500, 20%) !important

.swimlane-yellow
  swimlane-color(#fad900, #4d4d4d) //Black text for better visibility
  border-color: darken(#fad900, 20%) !important

.swimlane-orange
  swimlane-color(#ff9f19, #4d4d4d) //Black text for better visibility
  border-color: darken(#ff9f19, 20%) !important

.swimlane-red
  swimlane-color(#eb4646, #ffffff) //White text for better visibility
  border-color: darken(#eb4646, 20%) !important

.swimlane-purple
  swimlane-color(#a632db, #ffffff) //White text for better visibility
  border-color: darken(#a632db, 20%) !important

.swimlane-blue
  swimlane-color(#0079bf, #ffffff) //White text for better visibility
  border-color: darken(#0079bf, 20%) !important

.swimlane-pink
  swimlane-color(#ff78cb, #4d4d4d) //Black text for better visibility
  border-color: darken(#ff78cb, 20%) !important

.swimlane-sky
  swimlane-color(#00c2e0, #ffffff) //White text for better visibility
  border-color: darken(#00c2e0, 20%) !important

.swimlane-black
  swimlane-color(#4d4d4d, #ffffff) //White text for better visibility
  border-color: darken(#4d4d4d, 20%) !important

.swimlane-lime
  swimlane-color(#51e898, #4d4d4d) //Black text for better visibility
  border-color: darken(#51e898, 20%) !important

.swimlane-silver
  swimlane-color(unset, #4d4d4d) //Black text for better visibility
  border-color: darken(#4d4d4d, 20%) !important

.swimlane-peachpuff
  swimlane-color(#ffdab9, #4d4d4d) //Black text for better visibility
  border-color: darken(#ffdab9, 20%) !important

.swimlane-crimson
  swimlane-color(#dc143c, #ffffff) //White text for better visibility
  border-color: darken(#dc143c, 20%) !important

.swimlane-plum
  swimlane-color(#dda0dd, #4d4d4d) //Black text for better visibility
  border-color: darken(#dda0dd, 20%) !important

.swimlane-darkgreen
  swimlane-color(#006400, #ffffff) //White text for better visibility
  border-color: darken(#006400, 20%) !important

.swimlane-slateblue
  swimlane-color(#6a5acd, #ffffff) //White text for better visibility
  border-color: darken(#6a5acd, 20%) !important

.swimlane-magenta
  swimlane-color(#ff00ff, #ffffff) //White text for better visibility
  border-color: darken(#ff00ff, 20%) !important

.swimlane-gold
  swimlane-color(#ffd700, #4d4d4d) //Black text for better visibility
  border-color: darken(#ffd700, 20%) !important

.swimlane-navy
  swimlane-color(#000080, #ffffff) //White text for better visibility
  border-color: darken(#000080, 20%) !important

.swimlane-gray
  swimlane-color(#808080, #ffffff) //White text for better visibility
  border-color: darken(#808080, 20%) !important

.swimlane-saddlebrown
  swimlane-color(#8b4513, #ffffff) //White text for better visibility
  border-color: darken(#8b4513, 20%) !important

.swimlane-paleturquoise
  swimlane-color(#afeeee, #4d4d4d) //Black text for better visibility
  border-color: darken(#afeeee, 20%) !important

.swimlane-mistyrose
  swimlane-color(#ffe4e1, #4d4d4d) //Black text for better visibility
  border-color: darken(#ffe4e1, 20%) !important

.swimlane-indigo
  swimlane-color(#4b0082, #ffffff) //White text for better visibility
  border-color: darken(#4b0082, 20%) !important
