@import 'nib'

$spaceBetweenTiles = 16px

.board-list
  margin: 0 ($spaceBetweenTiles/2)

  li
    float: left
    width: 25%
    box-sizing: border-box
    position: relative

    &.starred
      .fa-star,
      .fa-star-o
        opacity: 1

  .board-list-item
    overflow: hidden;
    background-color: #ffffff
    color: #039be5
    height: 136px
    font-size: 16px
    line-height: 22px
    border-radius: 8px
    display: block
    font-weight: 700
    min-height: 18px
    padding: 16px
    box-sizing: border-box
    margin: ($spaceBetweenTiles/2)
    position: relative
    text-decoration: none
    opacity: 0.92
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    transition: all 0.2s
    
    &:hover
      opacity: 1
      box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.2), 0px 2px 4px 0px rgba(0,0,0,0.14), 0px 3px 5px -1px rgba(0,0,0,0.14);

    .board-list-item-name
      color: white
      font-size: 20px
      font-weight: 500

    &.tile
      background-size: auto
      background-repeat: repeat

  .board-list-item-sub-name
    color: rgba(255, 255, 255, .5)
    display: block
    font-size: 14px
    font-weight: 400
    line-height: 22px

  .details,
  .board-list-item-desc
    color: #ffffff
    opacity: 0.8
    display: block
    font-size: 13px
    font-weight: 400
    margin-top: 8px
    
    button
      margin-bottom: 0
      padding: 1px 8px
      box-shadow: none
      margin-top: 6px

  .js-add-board
    text-align:center

    .label
      padding-top: 50px
      font-weight: normal
      font-size: 14px
      .fa
        font-size: 26px
        color: #039be5

    :hover
      background-color:#f5f5f5

  .fa-star,
  .fa-star-o
    bottom: 0
    font-size: 14px
    height: 18px
    line-height: 18px
    opacity: 0
    padding: 9px 9px
    position: absolute
    right: 0
    top: 0
    transition-duration: .15s
    transition-property: color, font-size, background

  .fa-circle
    bottom: 0;
    font-size: 10px;
    height: 10px;
    line-height: 10px;
    padding: 9px 9px;
    position: absolute;
    right: 0;
    transition-duration: .15s
    transition-property: color, font-size, background

  .has-overtime-card-active
    color: #eb4646 !important

  .no-overtime-card-active
    color: #3cb500 !important

  .is-star-active
    color: white

  li:hover a
    &:hover
      .fa-star,
      .fa-star-o
        color: white

    .fa-star,
    .fa-star-o
      color: white
      opacity: .75

      &:hover
        font-size: 18px
        opacity: 1

      &.is-star-active
        opacity: 1

.board-backgrounds-list

  .board-background-select
    box-sizing: border-box
    display: block
    float: left
    // width: 50%
    // padding-top: 12px
    padding: 3px
    position: relative
    z-index: 1

    // &:nth-child(-n + 2)
      // padding-top: 0

    &:nth-child(2n)
      // padding-left: 6px

    // &:nth-child(2n+1)
      // padding-right: 6px

    .background-box
      border-radius: 50%
      background-size: cover
      display: block
      height: 32px
      position: relative
      width: 32px
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center

      i.fa-check
        font-size: 20px
        color: white

@media screen and (max-width: 800px)
  .board-list
    // height: 100%
    margin: 0
    padding: 16px

    li
      width: 33.3%

    .board-list-item
      overflow: hidden

    .board-list-item-sub-name
      position: relative
      top: -100px
      left: -100px

@media screen and (max-width: 680px)
  .board-list
    li
      width: 50%

@media screen and (max-width: 420px)
  h1.header-board-menu
    float: none !important
    text-align: center
  .board-list
    li
      width: 100%
