template(name="archivedBoards")
  .archives
    h2
      i.fal.fa-archive
      | {{_ 'archived-boards'}}
    hr
    ul.archived-lists.list-group
      each archivedBoards
        li.archived-lists-item.list-group-item.list-group-item-light
          strong
            = title
          div.board-header-btns
            button.board-header-btn.js-restore-board.btn-success
              i.far.fa-undo
              | {{_ 'restore-board'}}
            button.board-header-btn.js-delete-board.btn-danger
              i.far.fa-trash
              | {{_ 'delete-board'}}
      else
        li.no-items-message {{_ 'no-archived-boards'}}

template(name="boardDeletePopup")
  .content-spacing
    p {{_ 'delete-board-confirm-popup'}}
    button.js-confirm.negate.full(type="submit") {{_ 'delete'}}
